.container-form {
  position: absolute;
  height: 3.375rem;
  width: 100%;
  bottom: calc(-3.375rem/2);

  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.container-form input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

input[disabled] {
  cursor: not-allowed;
}