.container-form {
  position: absolute;
  height: 3.375rem;
  width: 100%;
  bottom: calc(-3.375rem/2);

  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.container-form input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: 1px solid var(--gray-700);
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.container-form button {
  height: 100%;
  width: 6.625rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  display: flex;
  align-items: center;
  gap: 0.300rem;
  font-weight: 700;
  line-height: 1.225rem;
  font-size: 0.875rem;
}