.upload-area {
  position: absolute;
  right: 0;
  padding: 5rem;
}

.upload-area button {
  margin-top: 1rem;
  height: 3rem;
  width: 7rem;
  border-radius: 0.5rem;
  border: none;
  padding: 0 1rem;
  background: var(--danger);
  color: var(--gray-200);
  display: flex;
  align-items: center;
  gap: 0.300rem;
  font-weight: 700;
  line-height: 1.225rem;
  font-size: 0.875rem;
}